@font-face {
    font-family: 'PlayfairDisplay-SemiBoldItalic';
    src: url('fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    display: none !important;
}

#left-gui {
    position: fixed;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

/* Mouse Events pass buttons */
#left-gui,
#left-gui div, 
#left-gui ol,
#left-gui li {
    pointer-events: none;
    user-select: none;
}

#left-gui button,
#left-gui inlineprop {
    pointer-events: auto;
}

button {
    cursor: pointer;
}

tool {
    display: block;
}

tool button {
    width: 60px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 5px;

    /* Don't highlight when double clicking canvas */
    user-select: none; /* Standard syntax */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* IE 10+ */
}

tool button:hover {
    background: rgba(0,0,0,0.1);
}

tool img {
    width: 40px;
}

#proposition {
    padding-left: 10px;
    max-width: 475px;
}

#proposition-header-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#proposition-title {
    font-size: 28px;
    display: flex;
    align-items: center;
}

#proposition-objective {
    font-size: 20px;
    margin-top: 5px;
}

#proposition-interaction-buttons {
    margin-left: 15px;
}

.control-button-row {
    display: inline-block;
}

#proposition-interaction-buttons button {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.control-button-row button {
    border-radius: 50%;
    padding: 0;
    background: none;
}

.control-button-row button:hover {
    background: rgba(0,0,0,0.1);
}

.control-button-row button img {
    width: 80%;
    display: flex;
    margin: auto;
}

#proposition-steps {
    padding-left: 25px;
}

#proposition-steps li {
    font-size: 17px;
}

#proposition-explanation {
    font-size: 19px;
}


/*----------  Right Gui Buttons  ----------*/


#right-gui {
    position: fixed;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    right: 0;
}

/* Mouse Events pass buttons */
#right-gui,
#right-gui div {
    pointer-events: none;
    user-select: none;
}

#right-gui button {
    pointer-events: auto;
}

#right-control-buttons button {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
}

/*----------  Viewport Container  ----------*/


#viewport-flex-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000 !important;
}

.prop-menu {
    font-size: 40px;
    background: white;
    width: 60%;
    height: 60%;
    border: 4px solid black;
    border-radius: 12px; 
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: column;
    transition: opacity 1s linear;
}

.prop-menu div {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.prop-menu .next-proposition {
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prop-menu .next-proposition:hover {
    background: #ddd;
}

.prop-menu .other-btns {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}

.prop-menu .other-btns button {
    background: none;
    color: gray;
    border-bottom: 2px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
}

.prop-menu .center-section {
    height: -webkit-fill-available;
    overflow-y: scroll;
}

.prop-menu .center-section::-webkit-scrollbar {
    display: none;
}

.prop-menu .center-section table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.prop-menu .center-section table tr {
    font-size: 20px;
}

#book {
    width: 60vw;
    height: calc(60vw * calc(75 / 100));
    background-image: url('icons/open-book.svg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#book page {
    max-height: 100%;
    overflow-y: scroll;

    margin: 0;
    padding-top: 13%;
    padding-bottom: 14.5%;

    display: flex;
    flex-direction: column;
}

#book #left-page {
    grid-column: 1;
    padding-left: 12.9%;
    padding-right: 2.5%;
}

#book #right-page {
    grid-column: 2;
    padding-left: 2.5%;
    padding-right: 12.9%;
}

#book page::-webkit-scrollbar {
    display: none;
}

#book page text1 {
    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#book page text2 {
    font-size: 20px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#book page text3 {
    font-size: 18px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

#book page text4 {
    font-size: 14px;
    display: block;
}

#book page .padded {
    padding-left: 24px;
    padding-right: 24px;
}

#book page .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#book page .bottom {
    display: block;
    margin-top: auto;
}

#book page .centered-vertical {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

quote {
    font-family: 'PlayfairDisplay-SemiBoldItalic';
    display: block;
}

quoteauthor {
    font-family: 'Times New Roman';
    display: block;
}

.no-bg-border {
    background: none;
    border: none;
}

.close {
    width: 50px;
    height: 50px;
}

.next-page-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.75;
}

#contents-container button {
    font-size: 16px;
    display: block;
    background: none;
    border: none;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

#contents-container button:hover {
    background: #ddd;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.simple-border-button {
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    font-size: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.simple-border-button:hover {
    background: rgba(0,0,0,0.1);
}

button.disabled {
    opacity: 0.6;
}

inlineprop {
    font-weight: bold;
    cursor: pointer;
}