body {
    overflow: hidden;
}

extracontrols {
    position: fixed;
}


tool {
    display: block;
    margin-top: 10px;
}

tool button {
    width: 60px;
    height: 40px;
}

tool img {
    width: 40px;
}