body {
    overflow: hidden;
}

extracontrols {
    position: fixed;
}


tool {
    display: block;
}

tool button {
    width: 60px;
    height: 40px;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    /* Don't highlight when double clicking canvas */
    user-select: none; /* Standard syntax */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* IE 10+ */
}

tool button:hover {
    background: rgba(0,0,0,0.1);
}

tool img {
    width: 40px;
}